@model Recipe
@{
    ViewBag.Title = "Home Page";
}


<div class="panel-body" id="HomeLeftSideText">
    <h1>The Local Cafe and Restaurant</h1>
    <br>
    <p>That'll Make You Feel Like You're On Vacation</p>
    <p>Move over chia pudding, smoothie bowls are officially the healthy food world’s new breakfast star.</p>
</div>
<div class="panel-body" id="HomeRightSideText">
    <img src="~/images/Home.jpg" alt="Pic" style="width:90%; height:auto" />
</div>




